/** @format */

@import "variables.module";

.clinicPage {
  .head {
    margin: auto;
    width: auto;
    font-family: $font;
    color: $base-color;
    font-weight: 1000;
    font-size: 2rem;
    letter-spacing: 1rem;
    padding: 10rem 0;
    text-align: center;
  }

  .content {
    margin: auto;
    max-width: 1300px;

    .town {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 10px;
    }
  }
}
